### macOS ###
.DS_Store

### LaTeX auxiliary files ###
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

### LaTeX temporary files ###
*~
*.tmp
*.backup
*.swp
*.swo

### Bibliography files (if using external tools) ###
*.bib.bak

### env files for tokens and keys ###
*.env
*.env.local
*.env.*.local

### properties file for database access ###
config.properties

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.mvn
mvnw
.cmd

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/